/* Add these styles to Home.css */
.modal-content {
    border-radius: 5px;
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: none;
    background-color: #435d7d;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-body {
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-footer {
    border-top: none;
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-title {
    background-color: #435d7d;
    color: white;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-secondary {
    background-color: #f8f9fa;
    border: none;
}
